<h2 mat-dialog-title>Add new employee</h2>
<mat-dialog-content>
  <form
    [formGroup]="employeeForm"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
        Name
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="name"
        type="text"
        placeholder="Username"
        formControlName="name"
      />
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="email"
        type="email"
        placeholder="nelson@gmail.com"
        formControlName="email"
      />
    </div>

    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="position">
        Position
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="position"
        type="text"
        formControlName="position"
      />
    </div>

    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="daysUsed">
        Vacation Days Used
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="daysUsed"
        type="number"
        formControlName="vacationsDaysUsed"
      />
    </div>
  </form>

  <pre>{{ employeeForm.value | json }}</pre>
  <pre>{{ employeeForm.valid }}</pre>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    [disabled]="!employeeForm.valid"
    mat-raised-button
    color="primary"
    [mat-dialog-close]="{ employee: employeeForm.value }"
  >
    Add Employee
  </button>
</mat-dialog-actions>
